.atom { color : #CC7832; }
.bracket { color: #3B488A; }
.builtin { color: #C62015; }
.keyword { color: #8A653B; }
.number { color: #6897BB; }
.punctuation { color: #CC7832; }
.variable { color: #6F3B8A; }